. filter=lfs diff=lfs merge=lfs -text
EFI filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Recovery/BCD.LOG1 filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/vol_external.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/de-DE filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_artful.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/vars/PreviousBoot filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/nl-NL/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/et-EE filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_crunchbang.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_systemd.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/bootmgfw.efi filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/cbmr_driver.efi filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/qps-ploc/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/cs-CZ filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/msyhn_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/et-EE/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_legacy.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/tr-TR/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fr-FR filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/segoen_slboot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/wgl4_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Resources/ko-KR/bootres.dll.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/hr-HR filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/tr-TR/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/zh-TW/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/uk-UA/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_network.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Resources/en-US filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/CIPolicies/Active/{82443e1e-8a39-4b4a-96a8-f40ddc00b9f3}.cip filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sr-Latn-RS/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_02_8086.dll filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pt-BR filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/cht_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/et-EE/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_debian.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/meiryon_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sv-SE/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/openSUSE-UEFI-CA-Certificate-4096.cer filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/hu-HU/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/vol_net.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_bionic.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/debian.cer filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fi-FI/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/en-US/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sv-SE/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Recovery/BCD.LOG2 filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sl-SI/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/qps-ploc filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_xenial.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_opensuse.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/canonical-uefi-ca.cer filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/CIPolicies/Active/{5DAC656C-21AD-4A02-AB49-649917162E70}.cip filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/nl-NL filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/cs-CZ/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_void.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/openSUSE-UEFI-CA-Certificate.cer filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_07_1415.dll filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/nb-NO/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/nb-NO/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/CIPolicies/Active/{CDD5CB55-DB68-4D71-AA38-3DF2B6473A52}.cip filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_02_15b3.dll filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_linux.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ja-JP/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pl-PL/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/de-DE/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/refind.conf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/meiryo_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fr-FR/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/el-GR/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ko-KR/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/BCD.LOG1 filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/tr-TR filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/boot_linux.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/lv-LV filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_win.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_02_1137.dll filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pl-PL/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/CIPolicies filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/da-DK/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/refind_local.cer filter=lfs diff=lfs merge=lfs -text
EFI/refind/BOOT.CSV filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/en-GB/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/BCD filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/tool_windows_rescue.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/func_hidden.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sk-SK/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/es-ES/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_02_1af4.dll filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/lt-LT filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_unknown.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ko-KR/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/it-IT/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ru-RU/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/BCD.LOG2 filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sv-SE/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Recovery/BCD.LOG filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/microsoft-pca-public.cer filter=lfs diff=lfs merge=lfs -text
EFI/systemd filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Resources filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/func_about.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_mandriva.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/zh-TW filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/es-MX/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/zh-CN filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_02_1969.dll filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/en-US/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/de-DE/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/centossecurebootca2.cer filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fr-FR/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_02_10df.dll filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/func_reset.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/en-US filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/bg-BG filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/uk-UA/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_slackware.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fi-FI/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/segmono_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_lubuntu.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/de-DE/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sk-SK filter=lfs diff=lfs merge=lfs -text
EFI/Pop_OS-dbc1d673-9ae9-40f9-90d7-b0dedb8d34b5 filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_kubuntu.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/BOOTSTAT.DAT filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/da-DK filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Resources/en-US/bootres.dll.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_02_10ec.dll filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kdnet_uart16550.dll filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/func_bootorder.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/it-IT filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_02_19a2.dll filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_gummiboot.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/lt-LT/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/zh-CN/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_frugalware.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/vol_internal.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fr-CA/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/it-IT/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/func_shutdown.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_trusty.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fr-CA/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/el-GR/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pt-PT/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_ubuntu.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/hu-HU/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_gentoo.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/func_exit.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/lt-LT/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pt-BR/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/msjhn_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/README filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/es-ES/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/drivers_x64 filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/lv-LV/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Pop_OS-dbc1d673-9ae9-40f9-90d7-b0dedb8d34b5/initrd.img filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ja-JP filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_hwtest.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_win8.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/nb-NO/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ru-RU/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/SLES-UEFI-CA-Certificate.cer filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/es-MX/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/el-GR filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_xubuntu.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_zesty.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ru-RU filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_uefi.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/arrow_right.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/microsoft-uefica-public.cer filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pt-BR/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/msjh_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_devuan.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/zh-TW/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/es-ES filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/zh-TW/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ja-JP/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/func_install.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ja-JP/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ko-KR filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/transparent.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_02_14e4.dll filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_mageia.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/es-ES/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/en-GB/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_refind.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pt-PT/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Recovery/BCD filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/vol_efi.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/uk-UA filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_centos.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/microsoft-kekca-public.cer filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fi-FI/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_arch.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_chrome.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/altlinux.cer filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/it-IT/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/hr-HR/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/malgun_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/boot_win.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Recovery filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/tool_shell.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sk-SK/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Resources/ja-JP filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/tool_apple_rescue.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_clover.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/fedora-ca.cer filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_linuxmint.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_manjaro.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kd_0C_8086.dll filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sl-SI/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/el-GR/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ro-RO/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/jpn_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ru-RU/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Pop_OS-dbc1d673-9ae9-40f9-90d7-b0dedb8d34b5/cmdline filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/nb-NO filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/en-US/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_chakra.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sr-Latn-RS/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/refind_local.crt filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/en-GB filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/func_csr_rotate.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/nl-NL/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/centossecureboot201.cer filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_freebsd.png filter=lfs diff=lfs merge=lfs -text
EFI/systemd/systemd-bootx64.efi filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/mouse.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/kor_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/tool_rescue.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/hu-HU/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/hu-HU filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/bootmgr.efi filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fi-FI filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/tool_netboot.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/es-MX filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/zh-CN/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Resources/ja-JP/bootres.dll.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Resources/ko-KR filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/tool_part.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/msyh_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_fedora.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_suse.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/tool_memtest.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/cs-CZ/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pt-BR/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sr-Latn-RS filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/da-DK/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/bg-BG/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pl-PL/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/segoe_slboot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/BCD.LOG filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pt-PT/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/arrow_left.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_haiku.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/bg-BG/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/refind_x64.efi filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/winsipolicy.p7b filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_elementary.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/nl-NL/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/vars filter=lfs diff=lfs merge=lfs -text
EFI/refind/drivers_x64/ext4_x64.efi filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pt-PT filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ro-RO filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_mac.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys/refind.cer filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/CIPolicies/Active filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/malgunn_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Resources/bootres.dll filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/cs-CZ/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/zh-CN/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_refit.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fr-CA filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/func_firmware.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/da-DK/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/tr-TR/memtest.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/pl-PL filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_netbsd.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/keys filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/Fonts/chs_boot.ttf filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/hr-HR/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ko-KR/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/ro-RO/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Pop_OS-dbc1d673-9ae9-40f9-90d7-b0dedb8d34b5/vmlinuz.efi filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/vol_optical.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sl-SI filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/tool_mok_tool.png filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/os_redhat.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/lv-LV/bootmgfw.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/boot.stl filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/memtest.efi filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/bcdold filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/sv-SE filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/fr-FR/bootmgr.efi.mui filter=lfs diff=lfs merge=lfs -text
EFI/refind/icons/tool_fwupdate.png filter=lfs diff=lfs merge=lfs -text
EFI/Microsoft/Boot/kdstub.dll filter=lfs diff=lfs merge=lfs -text
EFI/Linux filter=lfs diff=lfs merge=lfs -text
